{% extends layout ?: "@CoreShopPayumBundle::layout.html.twig" %}

{% block content %}
    {{ parent() }}

    {% if error == true %}
        <div class="coreshop-flash-message alert alert-danger col-sm-10" role="alert">
            {{ errorMessage }}
        </div>
    {% endif %}

    <form action="{{ actionUrl|default('') }}" method="POST" id="novalnet_sepa_guarantee_form" >
        <div class="col-sm-10 card card-smart border-secondary">
            <div class="card-header row" >
                <div class="col-sm-3" >
                    <h3 class="card-title">{{ sepa_guarantee_payment_title|default('') }}</h3>
                </div>
                <div class="col-sm" style="padding:inherit;" >
                    {% for logo in logos %}
                        <img src="{{ logo.src }}" title="{{ logo.title }}" alt="{{ logo.alt }}" class="" width=""/>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="novalnet_sepa_guarantee_iban" class="required">{{ iban_label|default('') }}</label>
                    <input type="text"
                        id="novalnet_sepa_guarantee_iban"
                        name="novalnet_sepa_guarantee_iban"
                        required="required"
                        class="form-control"
                        autocomplete="off"
                        placeholder="DE00 0000 0000 0000 0000 00"
                        style="text-transform:uppercase;"
                        onkeyup="return NovalnetUtility.checkIban(event)"
                        onchange = "return NovalnetUtility.formatIban(event, 'novalnet_sepa_guarantee_bic_div')"
                        onkeypress = "return NovalnetUtility.formatIban(event, 'novalnet_sepa_guarantee_bic_div')" >
                    <br>
                </div>

                <div id="novalnet_sepa_guarantee_bic_div" style="display:none;" >
                    <label for="novalnet_sepa_guarantee_bic" class="required">{{ bic_label|default('') }}</label>
                    <input type="text"
                        id="novalnet_sepa_guarantee_bic"
                        name="novalnet_sepa_guarantee_bic"
                        required="required"
                        class="form-control"
                        autocomplete="off"
                        placeholder="XXXX XX XX XXX"
                        style="text-transform:uppercase;"
                        onkeypress = "return NovalnetUtility.formatBic(event)"
                        onchange = "return NovalnetUtility.formatBic(event)" >
                    <br>
                </div>

                {% if canShowDob == true %}
                    <div id="novalnet_sepa_guarantee_dob" >
                        <label for="novalnet_sepa_guarantee_dob" class="required">{{ guarantee_dob_label|default('') }}</label>
                        <input type="text"
                            id="novalnet_sepa_guarantee_dob"
                            name="novalnet_sepa_guarantee_dob"
                            required="required"
                            class="form-control"
                            autocomplete="off"
                            placeholder="{{ dob_placeholder|default('') }}"
                            maxlength="10"
                            minlength="10"
                            onkeydown = "return NovalnetUtility.isNumericBirthdate(this, event)" >
                        <br>
                    </div>
                {% endif %}

                <br>
                <div class="card card-smart">
                    <ul>
                        <li>{{ sepa_instructions|default('') }}</li>
                        <li>
                            <a style="cursor:pointer;" id="novalnet_guarantee_mandate_toggle" >
                                <strong>{{ sepa_mandate_toggle|default('') }}</strong>
                            </a>
                            <div id="novalnet_sepa_guarantee_mandate_details" style="display:none; padding:5px; border:1px solid; border-color:#ddd;">
                                {{ sepa_mandate_authorise|default('') }}
                                <br><br>
                                <strong>{{ sepa_mandate_identifier|default('') }}</strong>
                                <br><br>
                                <strong>Note:</strong>
                                    {{ sepa_mandate_note|default('') }}
                            </div>
                        </li>
                    </ul>
                </div>

                <br>
                <div class="text-right" >
                    <input type="hidden" id="nn_token_done" name="nn_token_done" value="1" />
                    <input type="hidden" id="nn_form_cancel_url" value="{{ cancel_url|default('') }}" />
                    <input type="hidden" id="novalnet_cancel_payment_alert" value="{{ novalnet_cancel_payment_alert|default('') }}" />
                    <button type="button" id="nn_sepaguarantee_form_cancel" class="btn btn-secondary w-25">{{ novalnet_cancel_btn_label|default('') }}</button>
                    <button type="submit" id="novalnet_sepa_guarantee_form_submit" value="submit" class="btn btn-success w-25" >{{ novalnet_submit_btn_label|default('') }}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block header %}
    {{ parent() }}

    <script src="https://cdn.novalnet.de/js/v2/NovalnetUtility.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('#novalnet_guarantee_mandate_toggle').click(function() {
                $("#novalnet_sepa_guarantee_mandate_details").toggle('slow', 'swing');
            });

            $("#novalnet_sepa_guarantee_iban").on('keyup', function() {
                var iban = $(this).val(),
                    iban = iban.substring(0,2),
                    iban = iban.toUpperCase(),
                    allowedCountries = NovalnetUtility.bicAllowedCountries;

                if (allowedCountries.includes(iban)) {
                    $('#novalnet_sepa_guarantee_bic').prop('required', true);
                } else {
                    $('#novalnet_sepa_guarantee_bic').prop('required', false);
                }
            });

            $("#novalnet_sepa_guarantee_iban").on('change', function() {
                var iban = $(this).val(),
                    iban = iban.substring(0,2),
                    iban = iban.toUpperCase(),
                    allowedCountries = NovalnetUtility.bicAllowedCountries;

                if (allowedCountries.includes(iban)) {
                    $('#novalnet_sepa_guarantee_bic').prop('required', true);
                } else {
                    $('#novalnet_sepa_guarantee_bic').prop('required', false);
                }
            });

            $('#nn_sepaguarantee_form_cancel').on('click', function() {
                var cancelUrl = $('#nn_form_cancel_url').val();
                var alertText = $('#novalnet_cancel_payment_alert').val();

                if (!cancelUrl) {
                    cancelUrl = window.location.host;
                }
                if (!alertText) {
                    alertText = "Do you really want to cancel the payment?";
                }

                var result = confirm(alertText);
                if (result) {
                    window.location.replace(cancelUrl);
                }
            });
        });
    </script>

{% endblock %}
